.todoitem-toast-wrapper {
	margin: 10px;
	width: fit-content;

	opacity: 0.5 !important;
}

.todoitem-toast-wrapper:hover {
	opacity: 1 !important;
}

.todoitem-text {
	font-size: large;
	font-weight: bolder;
}

.todoitem-date {
	font-style: italic;
}

.todoitem-id {
	display: inline-block;
	font-family: RobotoMono, monospace;
	max-width: 20ch;

	padding-top: 1em;

	text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}
