#timer-time {
	font-weight: bold;
}

#timer-date {
	font-weight: medium;
}

.timer-wrapper {
	font-family: '', monospace;
	font-weight: regular;
	margin: 2em auto;
	text-align: center;
	color: white;
}
