.rssfeed-wrapper {
	opacity: 0.5;
}

.rssfeed-text {
	font-size: 100%;
	font-weight: normal;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	min-width: 1px;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: row;
	animation: rssfeed-animation-fadeaway 15s;
}

.rssfeed-text:hover {
	color: white;
}

.rssfeed-loading {
	width: 100%;
	text-align: center;
	animation: rssfeed-animation-blinkingLoad 1s infinite;
	padding: 0 20px;
	margin: 0 auto;
	color: white;
}

.rssfeed-title {
	max-width: fit-content;
	margin: 0 20px;
	/* For nimations */
	display: inline-block;
	overflow: hidden;
	/* The typwriter cursor */
	white-space: nowrap;
	animation: rssfeed-animation-typing 2.5s steps(40, end);
}

.rssfeed-metadata {
	font-weight: lighter;
}

@media (max-width: 600px) {
	.rssfeed-metadata {
		display: none;
	}
	.rssfeed-title {
		padding: 0;
		overflow: scroll;
		border-right: 0 solid orange;
		animation: rssfeed-animation-typing 2s steps(40, end);
	}
	.rssfeed-wrapper {
		opacity: 1;
	}
}

@keyframes rssfeed-animation-fadeaway {
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes rssfeed-animation-blinkingLoad {
	0% {
		font-weight: light;
		opacity: 0;
	}
	50% {
		font-weight: bold;
		opacity: 1;
	}
	100% {
		font-weight: light;
		opacity: 0;
	}
}

@keyframes rssfeed-animation-typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
