.rssfeed-wrapper {
	opacity: 0.5;
}

.rssfeed-text {
	font-size: 100%;
	font-weight: normal;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	min-width: 1px;
	color: white;
	animation: rssfeed-blinkingText 10s infinite;
}

.rssfeed-text:hover {
	color: white;
}

.rssfeed-loading {
	width: 100%;
	text-align: center;
	animation: rssfeed-blinkingLoad 1s infinite;
	padding: 0 20px;
	margin: 0 auto;

	color: white;
}

.rssfeed-title {
	padding: 0 20px;
}

.rssfeed-metadata {
	font-weight: lighter;
}

@media (max-width: 600px) {
	.rssfeed-metadata {
		display: none;
	}
	.rssfeed-title {
		padding: 0;
	}
	.rssfeed-text {
		overflow: scroll;
		text-overflow: unset;
	}
}

@keyframes rssfeed-blinkingText {
	0% {
		font-weight: lighter;
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes rssfeed-blinkingLoad {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
