.header-wrapper {
	opacity: 0.5;
}

.header-branding {
	color: white !important;
}

.header-link {
	color: white !important;
	text-transform: uppercase;
}

@media (max-width: 600px) {
	.header-wrapper {
		opacity: 1;
	}
}
