html, body, #root {
	height: 100%;
}

body {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.index-wrapper {
	margin: 0;
	padding: 0;
	height: fit-content;
	min-height: 100%;
	background-color:rgba(0,0,0,0.6);
	background-attachment: scroll;
}
