.todoinput-form-wrapper {
	margin: 1em;
	width: 100%;

	display: flex;
	justify-content: center;
	flex-direction: column;
}

.todoinput-input-control {
	opacity: 0.75;
}

.todoinput-input-control:hover, .todoinput-input-control:focus {
	opacity: 1;
}

.todoinput-submit-btn {
	margin-left: 5px;
	height: fit-content;
}

.todoinput-form-group {
	display: flex;
	flex-direction: row;

	margin: 0 auto;
}

.todoinput-form-inputmessage {
	color: white;
	opacity: 0.75;
	margin: 0 auto;

	padding-bottom: 0.5em;;
}
